header {
    text-align: center;
    z-index: 1;
    background-color: white;
}

#sticky {
    position: sticky;
    text-align: center;
    top: 0;
    padding-top: 10px;
    color: dodgerblue;
    background-color: white;
    z-index: 1;
    width: 100%;
}

hr {
    margin-top: 10px;
}

main {
    width: 80%;
    margin: 0 auto;
    z-index: 0;
}

.input-group-prepend {
    width: 20%;
}