header {
    text-align: center;
    z-index: 1;
    background-color: white;
}

#sticky {
    /* Sticky attr does not work if this div is nested anywhere */
    position: sticky;
    text-align: center;
    top: 0;
    padding-top: 10px;
    color: dodgerblue;
    background-color: white;
    z-index: 1;
    width: 100%;
    font-size: xx-large;
}

hr {
    margin-top: 10px;
}

h3 {
    /* This margin makes the time center-align verically on desktop, almost align on mobile */
    margin-top: 10px;
}

textarea {
    width: 100%;
    height: auto;
}

table {
    text-align: center;
}

button {
    /* Button needs 100% width to be easily clickable on small viewports */
    width: 100%;
    margin-top: 10px;
}